# I. Relationship between bank profitability and OBS

Bank Profitability Proxies (PWC, bank profitability determinants)
- ROA
- ROE
- whether should use net profit before tax or after tax as some scholars use PBT to exclude the impact of tax?

Bank Profitability Determinants: (bank pro. determinant SSA)
1. OBS: ????
2. Size: 
    - scale of operation
    - total assets or log of total assets?? threshold to determine big/small banks
3. Loan/Assets
    - effect of credit risk
4. Capital ratio - Equities/Assets
    - effect of leverage
5. Fixed Assets/Assets
    - effect of liquidity
6. Economic Growth: GDP growth
7. Inflation Growth


** Questions:
1. how many independent variables should be included in the models?
    - bank specific
    - industry specific
    - macroeconomic

Quarterly data obtained from WRDS, from 03/1995 to 12/2015

1. ROE = Net Income/Total Equities

1.1 Extract Net Income

In [2]:
import pandas as pd
import numpy as np

Extract Net Income

In [6]:
df1 = pd.read_csv("net_income.csv")

IOError: File net_income.csv does not exist

In [4]:
df1.columns = ["Non-interest Income","Net Income","ID","Bank Name","City","State","Zip Code","Date Established","Date"]

NameError: name 'df1' is not defined

In [5]:
df1.index = np.arange(1,len(frame1)+1)

NameError: name 'frame1' is not defined

In [20]:
df1["Bank Name"].nunique()

16217

In [26]:
df1.sample()

,Non-interest Income,Net Income,ID,Bank Name,City,State,Zip Code,Date Established,Date
55752,694.0,550.0,97037,UPTOWN NB CHICAGO,CHICAGO,IL,60640,19291221.0,19950630

Extract Total Assets, Total Equities, Fixed Assets, Total Loans

In [29]:
df2 = pd.read_csv("Assets_Equity_fixedasset_loans.csv")

In [31]:
df2.index = np.arange(1,len(frame1)+1)

In [33]:
df2.columns = ["Total Loans, Net of Unearned Income","Fixed Assets","Total Assets","Total Equity Capital","ID","Bank Name","City","State","Zip Code","Date"]

In [34]:
df2.sample()

,"Total Loans, Net of Unearned Income",Fixed Assets,Total Assets,Total Equity Capital,ID,Bank Name,City,State,Zip Code,Date
425802,68041.0,2659.0,93623.0,8291.0,747846,PORT BYRON ST BK,PORT BYRON,IL,61275,20100930

In [35]:
df2["Bank Name"].nunique()

16217

In [44]:
df3 = pd.merge(df1,df2)

In [46]:
df3["Bank Name"].nunique()

16217

In [51]:
df3[:4]

,Non-interest Income,Net Income,ID,Bank Name,City,State,Zip Code,Date Established,Date,"Total Loans, Net of Unearned Income",Fixed Assets,Total Assets,Total Equity Capital
0,79.0,201.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,19950331,32425.0,629.0,62124.0,7594.0
1,157.0,410.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,19950630,33026.0,612.0,54240.0,7718.0
2,234.0,641.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,19950930,33405.0,626.0,57400.0,7948.0
3,308.0,761.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,19951231,32520.0,599.0,57610.0,7985.0

In [58]:
df4 = df3.drop(df3[[2,4,5,6,7]], axis =1 )

In [60]:
df4.sample()

,Non-interest Income,Net Income,Bank Name,Date,"Total Loans, Net of Unearned Income",Fixed Assets,Total Assets,Total Equity Capital
474032,1746.0,2961.0,PIONEER AMERICAN BK NA,19970930,206121.0,5448.0,372537.0,31415.0

Calculate ROA, ROE, Loan-to-Assets, Fixed Assets-to-Assets and append thems into df4 as new columns.

In [76]:
df4["ROA"] =df4["Net Income"]/df4["Total Assets"]

In [78]:
df4["ROE"] = df4["Net Income"]/df4["Total Equity Capital"]

In [79]:
df4["Loan-to-Assets"] = df4["Total Loans, Net of Unearned Income"]/df4["Total Assets"]

In [80]:
df4["Fixed Assets-to-Assets"] = df4["Fixed Assets"]/df4["Total Assets"]

In [115]:
df4["Non-interest Income/Total Income"] = df4["Non-interest Income"]/df4["Net Income"]

In [124]:
Non_interest_Income_Mean = df4["Non-interest Income/Total Income"].dropna()

In [131]:
Non_interest_Income_Mean = np.mean(Non_interest_Income_Mean)

In [132]:
Non_interest_Income_Mean ### ? why nan though drop nan already

nan

In [137]:
Non_interest_Income_Max = np.max(Non_interest_Income_Mean)
Non_interest_Income_Max

nan

In [141]:
a= df4["ROA"].dropna()
np.max(a)

inf

In [133]:
from math import *

In [134]:
df4["Bank Size"] = np.log(df4["Total Assets"].astype("float64"))

In [1]:
df4.stack(level=['Date', 'Bank Name'])

NameError: name 'df4' is not defined

In [113]:
import scikits.statsmodels.api as sm

In [94]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

ImportError: No module named statsmodels.api