In [8]:
import pandas as pd
import numpy as np

In [28]:
Bank_Profitability = [['Proxies', 'Measurements',"Calculation Method"], 
             ["Bank Profitability" , "ROA","Net Income/Total Assets"], 
             ["Bank Profitability" , "ROE","Net Income/Total Equity"]]
           
headers = Bank_Profitability.pop(0)

df1 = pd.DataFrame(Bank_Profitability, columns = headers)
df1.index +=1
df1.index.name = "Dependent Variable"
df1

                               Proxies Measurements       Calculation Method
Dependent Variable
1                   Bank Profitability          ROA  Net Income/Total Assets
2                   Bank Profitability          ROE  Net Income/Total Equity

In [30]:
Bank_Profitability_Determinants = [['Proxies', 'Measurements'], 
        ["Credit Risk","Loans Loss Provision/Loans, Net Charge-off/Total Loans"],
           ["Liquidity Risk", "Liquidity Assets/Assets"],
                        ["Bank Size", "ln of Total Assets"],
            ["Loans-to-Total Assets", "Loans/Assets"],
            ["Capital Ratio", "Equities/Assets"],
            ["Fixed Assets-to-Total Assets","Fixed Assets/Assets"],
            ["Off-balance sheet", "Total derivative contracts held for trading. Equity exchange contracts"],
            ["Off-balance sheet","Total derivative contracts held for trading. Commodity and other contracts"],
           
             ["Off-balance sheet","Total derivative contracts held for trading. Interest rate contracts"],
             ["Off-balance sheet","Total derivative contracts held for trading. Foreign exchange contracts"],
         ["Off-balance sheet","Current credit exposure across all off-balance sheet derivatives\
            contract covered by the risk based capital standards"],
            [" Real GDP Growth","% growth over previous quarter"],
            ["Inflation","% growth over previous quarter"],
            ["Slope of yeild curve", "the difference between 10-year Treasury bond rate and the 3-month Treasury bond rate"]                      ]
           
headers = Bank_Profitability_Determinants.pop(0)

df2 = pd.DataFrame(Bank_Profitability_Determinants, columns = headers)
df2.index +=1
df2.index.name = "Independent Variables"
df2

,Proxies,Measurements
Independent Variables,,
1,Credit Risk,"Loans Loss Provision/Loans, Net Charge-off/Tot..."
2,Liquidity Risk,Liquidity Assets/Assets
3,Bank Size,ln of Total Assets
4,Loans-to-Total Assets,Loans/Assets
5,Capital Ratio,Equities/Assets
6,Fixed Assets-to-Total Assets,Fixed Assets/Assets
7,Off-balance sheet,Total derivative contracts held for trading. E...
8,Off-balance sheet,Total derivative contracts held for trading. C...
9,Off-balance sheet,Total derivative contracts held for trading. I...
10,Off-balance sheet,Total derivative contracts held for trading. F...
11,Off-balance sheet,Current credit exposure across all off-balance...
12,Real GDP Growth,% growth over previous quarter
13,Inflation,% growth over previous quarter
14,Slope of yeild curve,the difference between 10-year Treasury bond r...

In [20]:
slope_yeild = pd.read_csv("slope yeild.csv")

In [21]:
slope_yeild.sample()

    Quarter       Date  3 Mo  10 Yr  Slope
36  Q1 2009  3/31/2009  0.21   2.71    2.5

In [26]:
economic_metrics = pd.read_csv("Economic Metric.csv")

In [27]:
economic_metrics.sample()

    Quarter  Inflation Growth  Real GDP Growth
34  Q4 2008              -2.8             -2.1

In [82]:
net_income_item =  pd.read_csv("net income1.csv")

In [83]:
net_income_item.columns = ["Loan Loss Provision","Net Income","Total Loan Recoveries","Total Loan Charge-offs",\
               "Bank ID","Bank Name","City","State","Zip Code","Date established","Reporting Date"]

In [84]:
net_income_item.head()

,Loan Loss Provision,Net Income,Total Loan Recoveries,Total Loan Charge-offs,Bank ID,Bank Name,City,State,Zip Code,Date established,Reporting Date
0,27.0,221.0,26.0,24.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,20000331
1,78.0,453.0,42.0,77.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,20000630
2,129.0,697.0,58.0,124.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,20000930
3,180.0,908.0,67.0,205.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,20001231
4,45.0,220.0,20.0,28.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,20010331

In [85]:
#net_income_item['Reporting Date'] = pd.to_datetime(net_income_item['Reporting Date'])

In [86]:
net_income_item["Bank Name"].nunique()

12036

In [87]:
len(net_income_item["Bank Name"].unique())

12037

In [47]:
balance_sheet_item =  pd.read_csv("balance sheet.csv")
balance_sheet_item.head()

,RCFD0010,RCFD1773,RCFD2122,RCFD2145,RCFD2170,RCFD3210,RSSD9001,RSSD9010,RSSD9999
0,1436.0,198.0,36620.0,614.0,64088.0,10709.0,37,BANK OF HANCOCK CTY,20000331
1,2014.0,198.0,38458.0,597.0,62982.0,10845.0,37,BANK OF HANCOCK CTY,20000630
2,1386.0,197.0,41145.0,589.0,63862.0,11089.0,37,BANK OF HANCOCK CTY,20000930
3,1465.0,197.0,38235.0,570.0,62558.0,11204.0,37,BANK OF HANCOCK CTY,20001231
4,1729.0,0.0,40507.0,554.0,65486.0,11424.0,37,BANK OF HANCOCK CTY,20010331

In [48]:
balance_sheet_item.columns = ["Cash", "Available-for-sale securities","Total Loan, net of unearned income","Fixed Assets","Total Assets",\
               "Total Equity","Bank ID","Bank Name","Reporting Date"]

In [49]:
balance_sheet_item.head()

,Cash,Available-for-sale securities,"Total Loan, net of unearned income",Fixed Assets,Total Assets,Total Equity,Bank ID,Bank Name,Reporting Date
0,1436.0,198.0,36620.0,614.0,64088.0,10709.0,37,BANK OF HANCOCK CTY,20000331
1,2014.0,198.0,38458.0,597.0,62982.0,10845.0,37,BANK OF HANCOCK CTY,20000630
2,1386.0,197.0,41145.0,589.0,63862.0,11089.0,37,BANK OF HANCOCK CTY,20000930
3,1465.0,197.0,38235.0,570.0,62558.0,11204.0,37,BANK OF HANCOCK CTY,20001231
4,1729.0,0.0,40507.0,554.0,65486.0,11424.0,37,BANK OF HANCOCK CTY,20010331

In [50]:
balance_sheet_item["Bank Name"].nunique()

12036

In [51]:
len(balance_sheet_item["Bank Name"].unique())

12037

In [55]:
obs_item =  pd.read_csv("obs.csv")
obs_item.head()

,RCFD8723,RCFD8724,RCFD8764,RCFDA126,RCFDA127,RSSD9001,RSSD9010,RSSD9999
0,0.0,0.0,0.0,0.0,0.0,37,BANK OF HANCOCK CTY,20000331
1,0.0,0.0,0.0,0.0,0.0,37,BANK OF HANCOCK CTY,20000630
2,0.0,0.0,0.0,0.0,0.0,37,BANK OF HANCOCK CTY,20000930
3,0.0,0.0,0.0,0.0,0.0,37,BANK OF HANCOCK CTY,20001231
4,0.0,0.0,0.0,0.0,0.0,37,BANK OF HANCOCK CTY,20010331

In [56]:
obs_item.columns = ["Total derivative contracts held for trading. Equity exchange contracts", "Total derivative contracts \
held for trading. Commodity and other contracts","Current credit exposure across all off-balance sheet derivatives\
            contract covered by the risk based capital standards","Total derivative contracts held for \
            trading. Interest rate contracts","Total derivative contracts held for trading. Foreign exchange contracts",\
               "Bank ID","Bank Name","Reporting Date"]

In [57]:
obs_item.tail()

,Total derivative contracts held for trading. Equity exchange contracts,Total derivative contracts held for trading. Commodity and other contracts,Current credit exposure across all off-balance sheet derivatives contract covered by the risk based capital standards,Total derivative contracts held for trading. Interest rate contracts,Total derivative contracts held for trading. Foreign exchange contracts,Bank ID,Bank Name,Reporting Date
511154,NaN,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,20150930
511155,NaN,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,20151231
511156,NaN,NaN,NaN,NaN,NaN,4845861,PRIMARY BK,20150930
511157,NaN,NaN,NaN,NaN,NaN,4845861,PRIMARY BK,20151231
511158,NaN,NaN,NaN,NaN,NaN,4934484,MIZHUO BK LTD PARK AVE BR,20151231

In [112]:
df = pd.merge(net_income_item,balance_sheet_item)

In [113]:
df = pd.merge(df,obs_item)

In [114]:
df.sample()

,Loan Loss Provision,Net Income,Total Loan Recoveries,Total Loan Charge-offs,Bank ID,Bank Name,City,State,Zip Code,Date established,...,Available-for-sale securities,"Total Loan, net of unearned income",Fixed Assets,Total Assets,Total Equity,Total derivative contracts held for trading. Equity exchange contracts,Total derivative contracts held for trading. Commodity and other contracts,Current credit exposure across all off-balance sheet derivatives contract covered by the risk based capital standards,Total derivative contracts held for trading. Interest rate contracts,Total derivative contracts held for trading. Foreign exchange contracts
502101,417.0,1043.0,0.0,0.0,3489035,PIEDMONT BK,NORCROSS,GA,30092,20061106.0,...,26611.0,245512.0,8248.0,350131.0,41803.0,0.0,0.0,0.0,0.0,0.0

In [115]:
df1 = df[df["Total Assets"]>0]
df1

,Loan Loss Provision,Net Income,Total Loan Recoveries,Total Loan Charge-offs,Bank ID,Bank Name,City,State,Zip Code,Date established,...,Available-for-sale securities,"Total Loan, net of unearned income",Fixed Assets,Total Assets,Total Equity,Total derivative contracts held for trading. Equity exchange contracts,Total derivative contracts held for trading. Commodity and other contracts,Current credit exposure across all off-balance sheet derivatives contract covered by the risk based capital standards,Total derivative contracts held for trading. Interest rate contracts,Total derivative contracts held for trading. Foreign exchange contracts
0,27.0,221.0,26.0,24.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,198.0,36620.0,614.0,64088.0,10709.0,0.0,0.0,0.0,0.0,0.0
1,78.0,453.0,42.0,77.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,198.0,38458.0,597.0,62982.0,10845.0,0.0,0.0,0.0,0.0,0.0
2,129.0,697.0,58.0,124.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,197.0,41145.0,589.0,63862.0,11089.0,0.0,0.0,0.0,0.0,0.0
3,180.0,908.0,67.0,205.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,197.0,38235.0,570.0,62558.0,11204.0,0.0,0.0,0.0,0.0,0.0
4,45.0,220.0,20.0,28.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,40507.0,554.0,65486.0,11424.0,0.0,0.0,0.0,0.0,0.0
5,90.0,435.0,49.0,32.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,42153.0,537.0,65427.0,11543.0,0.0,0.0,0.0,0.0,0.0
6,135.0,679.0,64.0,71.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,44359.0,560.0,65575.0,11786.0,0.0,0.0,0.0,0.0,0.0
7,180.0,892.0,81.0,216.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,41514.0,541.0,66624.0,11904.0,0.0,0.0,0.0,0.0,0.0
8,45.0,200.0,16.0,0.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,41539.0,522.0,68766.0,12104.0,0.0,0.0,0.0,0.0,0.0
9,90.0,414.0,32.0,35.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,42564.0,511.0,69304.0,12222.0,0.0,0.0,0.0,0.0,0.0
10,135.0,633.0,49.0,132.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,44548.0,527.0,71970.0,12441.0,0.0,0.0,0.0,0.0,0.0
11,180.0,849.0,65.0,323.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,40263.0,506.0,74327.0,12561.0,0.0,0.0,0.0,0.0,0.0
12,45.0,148.0,29.0,45.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,40622.0,521.0,75143.0,12709.0,0.0,0.0,0.0,0.0,0.0
13,90.0,332.0,53.0,55.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,42705.0,525.0,74575.0,12796.0,0.0,0.0,0.0,0.0,0.0
14,135.0,568.0,66.0,124.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,45938.0,530.0,75996.0,13033.0,0.0,0.0,0.0,0.0,0.0
15,180.0,812.0,94.0,212.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,46197.0,521.0,78570.0,13180.0,0.0,0.0,0.0,0.0,0.0
16,45.0,175.0,29.0,23.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,44444.0,555.0,81219.0,13355.0,0.0,0.0,0.0,0.0,0.0
17,90.0,348.0,40.0,78.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,45298.0,694.0,81816.0,13432.0,0.0,0.0,0.0,0.0,0.0
18,135.0,527.0,50.0,164.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,46060.0,672.0,80657.0,13611.0,0.0,0.0,0.0,0.0,0.0
19,180.0,717.0,60.0,191.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,44145.0,643.0,78534.0,13705.0,0.0,0.0,0.0,0.0,0.0
20,45.0,173.0,15.0,18.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,44341.0,623.0,79758.0,13877.0,0.0,0.0,0.0,0.0,0.0
21,90.0,388.0,45.0,142.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,0.0,46555.0,593.0,79186.0,13997.0,0.0,0.0,0.0,0.0,0.0
22,135.0,612.0,81.0,206.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,26446.0,47307.0,565.0,82287.0,14145.0,0.0,0.0,0.0,0.0,0.0
23,180.0,836.0,113.0,350.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,26534.0,43717.0,536.0,79802.0,14100.0,0.0,0.0,0.0,0.0,0.0
24,45.0,210.0,32.0,29.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,27432.0,45198.0,493.0,81127.0,14270.0,0.0,0.0,0.0,0.0,0.0
25,90.0,454.0,48.0,34.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,27250.0,47886.0,469.0,79817.0,14313.0,0.0,0.0,0.0,0.0,0.0
26,135.0,665.0,66.0,48.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,27275.0,46573.0,456.0,79597.0,14683.0,0.0,0.0,0.0,0.0,0.0
27,180.0,921.0,76.0,136.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,27506.0,45043.0,454.0,79747.0,14925.0,0.0,0.0,0.0,0.0,0.0
28,45.0,210.0,26.0,5.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,28293.0,45008.0,434.0,79543.0,15169.0,0.0,0.0,0.0,0.0,0.0
29,60.0,423.0,70.0,40.0,37,BANK OF HANCOCK CTY,SPARTA,GA,31087,19040901.0,...,26484.0,46533.0,524.0,79123.0,15057.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511230,NaN,NaN,NaN,NaN,4461515,BANK OF CHINA CHICAGO BR,CHICAGO,IL,60606,20130215.0,...,5332.0,764290.0,NaN,774053.0,NaN,0.0,0.0,NaN,0.0,0.0
511231,NaN,NaN,NaN,NaN,4461515,BANK OF CHINA CHICAGO BR,CHICAGO,IL,60606,20130215.0,...,5334.0,971524.0,NaN,980936.0,NaN,0.0,0.0,NaN,0.0,0.0
511232,NaN,NaN,NaN,NaN,4461515,BANK OF CHINA CHICAGO BR,CHICAGO,IL,60606,20130215.0,...,5332.0,1602824.0,NaN,1613333.0,NaN,0.0,0.0,NaN,0.0,0.0
511233,NaN,NaN,NaN,NaN,4461515,BANK OF CHINA CHICAGO BR,CHICAGO,IL,60606,20130215.0,...,9826.0,2030481.0,NaN,2047259.0,NaN,0.0,0.0,NaN,0.0,0.0
511234,75.0,-970.0,0.0,0.0,4536084,BANK OF BIRD-IN-HAND,BIRD IN HAND,PA,17505,20131129.0,...,4000.0,5652.0,298.0,35356.0,15989.0,0.0,0.0,0.0,0.0,0.0
511243,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,0.0,0.0,NaN,13979.0,NaN,0.0,0.0,NaN,0.0,0.0
511244,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,0.0,9981.0,NaN,15117.0,NaN,0.0,0.0,NaN,0.0,0.0
511245,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,0.0,15983.0,NaN,150244.0,NaN,0.0,0.0,NaN,0.0,0.0
511246,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,109986.0,NaN,229259.0,NaN,NaN,NaN,NaN,NaN,NaN
511247,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,113988.0,NaN,150390.0,NaN,NaN,NaN,NaN,NaN,NaN
511248,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,123164.0,NaN,225797.0,NaN,NaN,NaN,NaN,NaN,NaN
511249,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,32697.0,NaN,240247.0,NaN,NaN,NaN,NaN,NaN,NaN
511250,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,32230.0,NaN,245523.0,NaN,NaN,NaN,NaN,NaN,NaN
511251,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,19163.0,NaN,236895.0,NaN,NaN,NaN,NaN,NaN,NaN
511252,NaN,NaN,NaN,NaN,4542236,NONGHYUP BK NY BR,NEW YORK,NY,10019,20130815.0,...,NaN,34046.0,NaN,210442.0,NaN,NaN,NaN,NaN,NaN,NaN
511253,277.0,189.0,0.0,0.0,4569167,NEW TRADITIONS BK,ORLANDO,FL,32803,20131101.0,...,5000.0,319536.0,2136.0,507242.0,51487.0,0.0,0.0,0.0,0.0,0.0
511259,0.0,49569.0,0.0,0.0,4589857,INVESCO NAT TC,ATLANTA,GA,30309,20131230.0,...,0.0,0.0,0.0,270022.0,239316.0,0.0,0.0,0.0,0.0,0.0
511263,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,41027.0,NaN,45091.0,NaN,0.0,0.0,NaN,0.0,0.0
511264,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,55949.0,NaN,60049.0,NaN,0.0,0.0,NaN,0.0,0.0
511265,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,56142.0,NaN,59620.0,NaN,0.0,0.0,NaN,0.0,0.0
511266,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,56489.0,NaN,59937.0,NaN,0.0,0.0,NaN,0.0,0.0
511267,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,56594.0,NaN,60022.0,NaN,0.0,0.0,NaN,0.0,0.0
511268,NaN,NaN,NaN,NaN,4725141,WING LUNG BK SAN FRANCISCO BR,SAN FRANCISCO,CA,94105,20140707.0,...,0.0,142339.0,NaN,145899.0,NaN,0.0,0.0,NaN,0.0,0.0
511269,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,0.0,0.0,NaN,3140.0,NaN,0.0,0.0,NaN,0.0,0.0
511270,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,2518.0,0.0,NaN,3523.0,NaN,0.0,0.0,NaN,0.0,0.0
511271,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,2495.0,54.0,NaN,3450.0,NaN,0.0,0.0,NaN,0.0,0.0
511272,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,0.0,16811.0,NaN,394391.0,NaN,0.0,0.0,NaN,0.0,0.0
511273,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,0.0,68127.0,NaN,431826.0,NaN,0.0,0.0,NaN,0.0,0.0
511274,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,NaN,119381.0,NaN,1033875.0,NaN,NaN,NaN,NaN,NaN,NaN
511275,NaN,NaN,NaN,NaN,4726054,CANARA BK NY BR,NEW YORK,NY,10022,20140609.0,...,NaN,196245.0,NaN,562394.0,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df1["Bank Name"].nunique()

11748

In [116]:
df1["Net Charge-off"] = df1["Total Loan Charge-offs"] - df1["Total Loan Recoveries"]

df1["ROA"] =df1["Net Income"]/df1["Total Assets"]
df1["ROE"] = df1["Net Income"]/df1["Total Equity"]
df1["Loan-to-Assets"] = df1["Total Loan, net of unearned income"]/df1["Total Assets"]
df1["Fixed Assets-to-Assets"] = df1["Fixed Assets"]/df1["Total Assets"]
df1["Net Charge Off-to-Loans"] = df1["Net Charge-off"]/df1["Total Loan, net of unearned income"]
df1["Bank Size"] = np.log(df1["Total Assets"].astype("float64"))
df1["Liquidity"] = (df1["Cash"]+df1["Available-for-sale securities"])/df1["Total Assets"]
df1["Loan Loss Provision %"] = df1["Loan Loss Provision"]/df1["Total Loan, net of unearned income"]

C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\thanh\AppData\Local\Enthought\Canopy\User\lib\site-packages\ipykernel\__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [117]:
df1.sample()

,Loan Loss Provision,Net Income,Total Loan Recoveries,Total Loan Charge-offs,Bank ID,Bank Name,City,State,Zip Code,Date established,...,Total derivative contracts held for trading. Foreign exchange contracts,Net Charge-off,ROA,ROE,Loan-to-Assets,Fixed Assets-to-Assets,Net Charge Off-to-Loans,Bank Size,Liquidity,Loan Loss Provision %
327704,135.0,1485.0,19.0,47.0,845443,COMMUNITY FIRST BK,KEOSAUQUA,IA,52565,19310101.0,...,0.0,28.0,0.013059,0.119546,0.715273,0.011678,0.000344,11.641459,0.239245,0.00166

Drop ROE

In [121]:
df2 = df1.drop(df1[[0,1,2,3,6,7,8,9,11,12,13,14,15,24]], axis =1 )
df2

,Bank ID,Bank Name,Reporting Date,Total Equity,Total derivative contracts held for trading. Equity exchange contracts,Total derivative contracts held for trading. Commodity and other contracts,Current credit exposure across all off-balance sheet derivatives contract covered by the risk based capital standards,Total derivative contracts held for trading. Interest rate contracts,Total derivative contracts held for trading. Foreign exchange contracts,Net Charge-off,ROA,Loan-to-Assets,Fixed Assets-to-Assets,Net Charge Off-to-Loans,Bank Size,Liquidity,Loan Loss Provision %
0,37,BANK OF HANCOCK CTY,20000331,10709.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.003448,0.571402,0.009581,-0.000055,11.068012,0.025496,0.000737
1,37,BANK OF HANCOCK CTY,20000630,10845.0,0.0,0.0,0.0,0.0,0.0,35.0,0.007193,0.610619,0.009479,0.000910,11.050604,0.035121,0.002028
2,37,BANK OF HANCOCK CTY,20000930,11089.0,0.0,0.0,0.0,0.0,0.0,66.0,0.010914,0.644280,0.009223,0.001604,11.064480,0.024788,0.003135
3,37,BANK OF HANCOCK CTY,20001231,11204.0,0.0,0.0,0.0,0.0,0.0,138.0,0.014515,0.611193,0.009112,0.003609,11.043849,0.026567,0.004708
4,37,BANK OF HANCOCK CTY,20010331,11424.0,0.0,0.0,0.0,0.0,0.0,8.0,0.003359,0.618560,0.008460,0.000197,11.089592,0.026403,0.001111
5,37,BANK OF HANCOCK CTY,20010630,11543.0,0.0,0.0,0.0,0.0,0.0,-17.0,0.006649,0.644275,0.008208,-0.000403,11.088690,0.022055,0.002135
6,37,BANK OF HANCOCK CTY,20010930,11786.0,0.0,0.0,0.0,0.0,0.0,7.0,0.010355,0.676462,0.008540,0.000158,11.090950,0.021441,0.003043
7,37,BANK OF HANCOCK CTY,20011231,11904.0,0.0,0.0,0.0,0.0,0.0,135.0,0.013389,0.623109,0.008120,0.003252,11.106820,0.025756,0.004336
8,37,BANK OF HANCOCK CTY,20020331,12104.0,0.0,0.0,0.0,0.0,0.0,-16.0,0.002908,0.604063,0.007591,-0.000385,11.138465,0.020897,0.001083
9,37,BANK OF HANCOCK CTY,20020630,12222.0,0.0,0.0,0.0,0.0,0.0,3.0,0.005974,0.614164,0.007373,0.000070,11.146258,0.023765,0.002114
10,37,BANK OF HANCOCK CTY,20020930,12441.0,0.0,0.0,0.0,0.0,0.0,83.0,0.008795,0.618980,0.007322,0.001863,11.184005,0.040183,0.003030
11,37,BANK OF HANCOCK CTY,20021231,12561.0,0.0,0.0,0.0,0.0,0.0,258.0,0.011422,0.541701,0.006808,0.006408,11.216230,0.024661,0.004471
12,37,BANK OF HANCOCK CTY,20030331,12709.0,0.0,0.0,0.0,0.0,0.0,16.0,0.001970,0.540596,0.006933,0.000394,11.227148,0.019696,0.001108
13,37,BANK OF HANCOCK CTY,20030630,12796.0,0.0,0.0,0.0,0.0,0.0,2.0,0.004452,0.572645,0.007040,0.000047,11.219561,0.024257,0.002107
14,37,BANK OF HANCOCK CTY,20030930,13033.0,0.0,0.0,0.0,0.0,0.0,58.0,0.007474,0.604479,0.006974,0.001263,11.238436,0.020830,0.002939
15,37,BANK OF HANCOCK CTY,20031231,13180.0,0.0,0.0,0.0,0.0,0.0,118.0,0.010335,0.587973,0.006631,0.002554,11.271745,0.019829,0.003896
16,37,BANK OF HANCOCK CTY,20040331,13355.0,0.0,0.0,0.0,0.0,0.0,-6.0,0.002155,0.547212,0.006833,-0.000135,11.304904,0.020586,0.001013
17,37,BANK OF HANCOCK CTY,20040630,13432.0,0.0,0.0,0.0,0.0,0.0,38.0,0.004253,0.553657,0.008482,0.000839,11.312228,0.023296,0.001987
18,37,BANK OF HANCOCK CTY,20040930,13611.0,0.0,0.0,0.0,0.0,0.0,114.0,0.006534,0.571060,0.008332,0.002475,11.297961,0.023792,0.002931
19,37,BANK OF HANCOCK CTY,20041231,13705.0,0.0,0.0,0.0,0.0,0.0,131.0,0.009130,0.562113,0.008188,0.002967,11.271287,0.020221,0.004077
20,37,BANK OF HANCOCK CTY,20050331,13877.0,0.0,0.0,0.0,0.0,0.0,3.0,0.002169,0.555944,0.007811,0.000068,11.286752,0.021076,0.001015
21,37,BANK OF HANCOCK CTY,20050630,13997.0,0.0,0.0,0.0,0.0,0.0,97.0,0.004900,0.587920,0.007489,0.002084,11.279555,0.027682,0.001933
22,37,BANK OF HANCOCK CTY,20050930,14145.0,0.0,0.0,0.0,0.0,0.0,125.0,0.007437,0.574902,0.006866,0.002642,11.317968,0.374749,0.002854
23,37,BANK OF HANCOCK CTY,20051231,14100.0,0.0,0.0,0.0,0.0,0.0,237.0,0.010476,0.547818,0.006717,0.005421,11.287304,0.354277,0.004117
24,37,BANK OF HANCOCK CTY,20060331,14270.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.002589,0.557126,0.006077,-0.000066,11.303771,0.361002,0.000996
25,37,BANK OF HANCOCK CTY,20060630,14313.0,0.0,0.0,0.0,0.0,0.0,-14.0,0.005688,0.599947,0.005876,-0.000292,11.287492,0.365123,0.001879
26,37,BANK OF HANCOCK CTY,20060930,14683.0,0.0,0.0,0.0,0.0,0.0,-18.0,0.008355,0.585110,0.005729,-0.000386,11.284732,0.368167,0.002899
27,37,BANK OF HANCOCK CTY,20061231,14925.0,0.0,0.0,0.0,0.0,0.0,60.0,0.011549,0.564824,0.005693,0.001332,11.286614,0.380378,0.003996
28,37,BANK OF HANCOCK CTY,20070331,15169.0,0.0,0.0,0.0,0.0,0.0,-21.0,0.002640,0.565832,0.005456,-0.000467,11.284053,0.379128,0.001000
29,37,BANK OF HANCOCK CTY,20070630,15057.0,0.0,0.0,0.0,0.0,0.0,-30.0,0.005346,0.588110,0.006623,-0.000645,11.278759,0.373520,0.001289
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511230,4461515,BANK OF CHINA CHICAGO BR,20150331,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.987387,NaN,NaN,13.559396,0.006888,NaN
511231,4461515,BANK OF CHINA CHICAGO BR,20150630,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.990405,NaN,NaN,13.796262,0.005438,NaN
511232,4461515,BANK OF CHINA CHICAGO BR,20150930,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.993486,NaN,NaN,14.293813,0.003305,NaN
511233,4461515,BANK OF CHINA CHICAGO BR,20151231,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.991805,NaN,NaN,14.532012,0.004800,NaN
511234,4536084,BANK OF BIRD-IN-HAND,20131231,15989.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.027435,0.159860,0.008429,0.000000,10.473223,0.148490,0.013270
511243,4542236,NONGHYUP BK NY BR,20130930,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,9.545311,0.187996,NaN
511244,4542236,NONGHYUP BK NY BR,20131231,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.660250,NaN,NaN,9.623575,0.189323,NaN
511245,4542236,NONGHYUP BK NY BR,20140331,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.106380,NaN,NaN,11.920016,0.644492,NaN
511246,4542236,NONGHYUP BK NY BR,20140630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.479746,NaN,NaN,12.342608,NaN,NaN
511247,4542236,NONGHYUP BK NY BR,20140930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.757949,NaN,NaN,11.920987,NaN,NaN
511248,4542236,NONGHYUP BK NY BR,20141231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.545463,NaN,NaN,12.327392,NaN,NaN
511249,4542236,NONGHYUP BK NY BR,20150331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.136097,NaN,NaN,12.389423,NaN,NaN
511250,4542236,NONGHYUP BK NY BR,20150630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.131271,NaN,NaN,12.411146,NaN,NaN
511251,4542236,NONGHYUP BK NY BR,20150930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.080892,NaN,NaN,12.375372,NaN,NaN
511252,4542236,NONGHYUP BK NY BR,20151231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.161783,NaN,NaN,12.256965,NaN,NaN
511253,4569167,NEW TRADITIONS BK,20131231,51487.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000373,0.629948,0.004211,0.000000,13.136743,0.338612,0.000867
511259,4589857,INVESCO NAT TC,20131231,239316.0,0.0,0.0,0.0,0.0,0.0,0.0,0.183574,0.000000,0.000000,NaN,12.506259,0.755383,NaN
511263,4725141,WING LUNG BK SAN FRANCISCO BR,20140930,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.909871,NaN,NaN,10.716438,0.066532,NaN
511264,4725141,WING LUNG BK SAN FRANCISCO BR,20141231,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.931722,NaN,NaN,11.002916,0.049593,NaN
511265,4725141,WING LUNG BK SAN FRANCISCO BR,20150331,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.941664,NaN,NaN,10.995746,0.041932,NaN
511266,4725141,WING LUNG BK SAN FRANCISCO BR,20150630,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.942473,NaN,NaN,11.001049,0.041710,NaN
511267,4725141,WING LUNG BK SAN FRANCISCO BR,20150930,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.942888,NaN,NaN,11.002466,0.041651,NaN
511268,4725141,WING LUNG BK SAN FRANCISCO BR,20151231,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.975600,NaN,NaN,11.890670,0.017135,NaN
511269,4726054,CANARA BK NY BR,20140630,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,8.051978,0.865924,NaN
511270,4726054,CANARA BK NY BR,20140930,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.000000,NaN,NaN,8.167068,0.804428,NaN
511271,4726054,CANARA BK NY BR,20141231,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.015652,NaN,NaN,8.146130,0.907536,NaN
511272,4726054,CANARA BK NY BR,20150331,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.042625,NaN,NaN,12.885098,0.950217,NaN
511273,4726054,CANARA BK NY BR,20150630,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.157765,NaN,NaN,12.975778,0.829531,NaN
511274,4726054,CANARA BK NY BR,20150930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.115469,NaN,NaN,13.848824,NaN,NaN
511275,4726054,CANARA BK NY BR,20151231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.348946,NaN,NaN,13.239958,NaN,NaN

In [123]:
df3 = df2.fillna(0)

In [153]:
df3.head()

,Bank ID,Bank Name,Reporting Date,Total Equity,Total derivative contracts held for trading. Equity exchange contracts,Total derivative contracts held for trading. Commodity and other contracts,Current credit exposure across all off-balance sheet derivatives contract covered by the risk based capital standards,Total derivative contracts held for trading. Interest rate contracts,Total derivative contracts held for trading. Foreign exchange contracts,Net Charge-off,ROA,Loan-to-Assets,Fixed Assets-to-Assets,Net Charge Off-to-Loans,Bank Size,Liquidity,Loan Loss Provision %
0,37,BANK OF HANCOCK CTY,20000331,10709.0,0.0,0.0,0.0,0.0,0.0,-2.0,0.003448,0.571402,0.009581,-0.000055,11.068012,0.025496,0.000737
1,37,BANK OF HANCOCK CTY,20000630,10845.0,0.0,0.0,0.0,0.0,0.0,35.0,0.007193,0.610619,0.009479,0.000910,11.050604,0.035121,0.002028
2,37,BANK OF HANCOCK CTY,20000930,11089.0,0.0,0.0,0.0,0.0,0.0,66.0,0.010914,0.644280,0.009223,0.001604,11.064480,0.024788,0.003135
3,37,BANK OF HANCOCK CTY,20001231,11204.0,0.0,0.0,0.0,0.0,0.0,138.0,0.014515,0.611193,0.009112,0.003609,11.043849,0.026567,0.004708
4,37,BANK OF HANCOCK CTY,20010331,11424.0,0.0,0.0,0.0,0.0,0.0,8.0,0.003359,0.618560,0.008460,0.000197,11.089592,0.026403,0.001111

In [187]:
df3.to_csv("base df")

In [185]:
nobs = len(df3['Reporting Date'])
print(nobs)

457650

In [180]:
id = df3["Bank ID"].unique()
len(id)

11693

In [182]:
id1 = df3["Bank ID"].nunique()
id1

11693

In [186]:
qtrs = df3["Reporting Date"].unique()
print(qtrs)
print(nobs/len(qtrs))

[20000331 20000630 20000930 20001231 20010331 20010630 20010930 20011231
 20020331 20020630 20020930 20021231 20030331 20030630 20030930 20031231
 20040331 20040630 20040930 20041231 20050331 20050630 20050930 20051231
 20060331 20060630 20060930 20061231 20070331 20070630 20070930 20071231
 20080331 20080630 20080930 20081231 20090331 20090630 20090930 20091231
 20100331 20100630 20100930 20101231 20110331 20110630 20110930 20111231
 20120331 20120630 20120930 20121231 20130331 20130630 20130930 20131231
 20140331 20140630 20140930 20141231 20150331 20150630 20150930 20151231]
7150

In [175]:
df3["Year"] = []
for i in range(0,len(df3['Reporting Date']+1)):
   df3["Year"].append(str(df3['Reporting Date'][i])[:4])

ValueError: Length of values does not match length of index

In [136]:

df4 =df4.set_index('Reporting Date', append=True)
df4.index = df4.index.swaplevel(0,1)
df4[:3]

KeyError: 'Reporting Date'

In [178]:
from pandas.stats.plm import PanelOLS
X = df3[['Loan-to-Assets', 'Fixed Assets-to-Assets']]
Y = df3['ROA']
reg  = PanelOLS(Y, X,time_effects=True)
reg

NotImplementedError: Only 2-level MultiIndex are supported.